In [10]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn import datasets

In [39]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.options.display.max_seq_items = 200

In [20]:
def sklearn_to_df(sklearn_dataset):
    df = pd.DataFrame(sklearn_dataset['data'], columns=sklearn_dataset['feature_names'])
    df['target'] = pd.Series(sklearn_dataset['target'])
    return df

In [7]:
#Taking example data to test

In [23]:
df = sklearn_to_df(datasets.fetch_california_housing())

In [32]:
df.columns

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude', 'target'],
      dtype='object')

In [34]:
#Note add the various correlation methods to this 
cor_matrix = df.corr()

In [ ]:
#Getting every pair of variables in the cor_matrix

In [82]:
test = pd.DataFrame(cor_matrix.stack())
test.reset_index(inplace = True)

In [88]:
test = test.loc[(test[0] > 0.5) & (test['level_0'] != test['level_1'])].reset_index(drop = True)

In [89]:
df1 = pd.DataFrame(np.sort(test[['level_0','level_1', 0]], axis=1))

TypeError: '<' not supported between instances of 'float' and 'str'

In [87]:
df1.drop_duplicates()

           0         1
0     MedInc    target
1  AveBedrms  AveRooms